<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
    <% if can? :update, @post %>
        <%= link_to "Edit this post", edit_post_path(@post) %> <br/>
    
    <% end %>
    <br/>
    <%= link_to "Back to posts", posts_path %>

</div>
<% if can? :destroy, @post %>
<%= button_to "Destroy this post", @post, method: :delete %>
<% end %>
